<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rsrtcs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/rsrtc_logoss"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/rsrtc_logoss"
        android:screenOrientation="portrait"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSRTC"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".ui.activity.drawer.report.ReportActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.example.rsrtcs.ui.activity.drawer.card.RechargeCardActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.example.rsrtcs.ui.activity.auth.forgot.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity android:name=".ui.activity.billdesk.PaymentStatusActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.rsrtcs.ui.activity.calculation.FixPassFareCalculation" android:screenOrientation="portrait" />
        <activity android:name="com.example.rsrtcs.ui.activity.concession.ConcessionDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.example.rsrtcs.ui.activity.auth.login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.rsrtcs.ui.activity.main.MainActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.rsrtcs.ui.activity.capture.UploadDocumentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.rsrtcs.PassTypeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.rsrtcs.ui.activity.route.SelectRouteActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.rsrtcs.ui.activity.capture.ImageCaptureActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.rsrtcs.FareCalculation" android:screenOrientation="portrait"/>
        <activity android:name="com.example.rsrtcs.ui.activity.route.PassRouteSelectionActivity" android:screenOrientation="portrait" />
        <activity android:name="com.example.rsrtcs.ui.activity.auth.signup.SignupActivity" android:screenOrientation="portrait" />
        <activity
            android:name="com.example.rsrtcs.ui.activity.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>